.after.before {
	text-transform: capitalize;
}

.after:after {
	content: 'after after';
	text-transform: capitalize;
}

.before:before {
	content: 'before before';
	text-transform: capitalize;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}
