.after.before {
	text-transform: capitalize;
}

.after:after {
	content: 'after after';
	text-transform: capitalize;
}

.before:before {
	content: 'before before';
	text-transform: capitalize;
}

.hidden {
	visibility: hidden;
}

.none {
	display: none;
}

.cover {
	position: relative;
	display: inline-block;
	width: 5em;
}

.cover * {
	width: 100%;
}

#upper {
	position: absolute;
	left: 0;
	top: 0;
}
